/* _content/BootzorComponents/Component1.razor.rz.scp.css */
.my-component[b-llk2zhxtbf] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/BootzorComponents/Components/Accordion/BZ_Accordion.razor.rz.scp.css */
.__bz_accordion[b-dvf4947fjl] {
    border: 1px solid #cacaca;
}

    .__bz_accordion .__bz_accordion-header[b-dvf4947fjl] {
        padding: 10px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .__bz_accordion .__bz_accordion-header[b-dvf4947fjl] {
        width: 100%;
        text-decoration: none;
        color: initial;
        border: 1px solid #cacaca;
        cursor: pointer;
    }

        .__bz_accordion .__bz_accordion-header i.__bz_accordion-header__chevron[b-dvf4947fjl] {
            font-style: normal;
            transform: rotateZ(-90deg) scale(1.105);
            font-weight: bolder;
            display: inline-block;
            width: 16px;
            height: 30px;
            text-align: center;
            transition: all .5s ease .05s;
            transform-origin: center;
        }

            .__bz_accordion .__bz_accordion-header i.__bz_accordion-header__chevron.collapsed[b-dvf4947fjl] {
                transform: rotateZ(90deg) scale(1.105);
            }

        .__bz_accordion .__bz_accordion-header .__bz_accordion-header__title[b-dvf4947fjl] {
            width: calc(100% - 25px);
            display: inline-block;
            position: relative;
            top: 3px;
        }

    .__bz_accordion .__bz_accordion-content[b-dvf4947fjl] {
        transition: max-height .333s ease-in-out;
        overflow: hidden;
        max-height: 1000px;
    }

        .__bz_accordion .__bz_accordion-content .__bz_accordion-content__text[b-dvf4947fjl] {
            box-sizing: border-box;
            padding: 1%;
        }

        .__bz_accordion .__bz_accordion-content.collapsed[b-dvf4947fjl] {
            max-height: 0;
            padding: 0;
        }
/* _content/BootzorComponents/Components/Alert/BZ_Alert.razor.rz.scp.css */
*[b-bhw43rw099] {
    --main-white: #ffffff;
    --bz-color-default-bg: #f4f4f4;
    --bz-color-default-border: #e6e6e6;
    --bz-color-default-text: #605f5f;
    
    --bz-color-primary-bg: #89b1cd;
    --bz-color-primary-border: #67a5d7;
    --bz-color-primary-text: #41627c;

    --bz-color-success-bg: #86d292;
    --bz-color-success-border: #70b194;
    --bz-color-success-text: #41725c;

    --bz-color-fail-bg: #86d292;
    --bz-color-fail-border: #70b194;
    --bz-color-fail-text: #41725c;

    --bz-color-warning-bg: #86d292;
    --bz-color-warning-border: #70b194;
    --bz-color-warning-text: #41725c;

    --bz-color-info-bg: #86d292;
    --bz-color-info-border: #70b194;
    --bz-color-info-text: #41725c;
}

.alert .primary[b-bhw43rw099] {
    background-color: var(--main-bg-primary);
}

.__bz_alert[b-bhw43rw099] {
    display: block;
    padding: 15px 20px;
    font-size: 1rem;
    border: 1px solid var(--bz-color-default-border);
    background-color: var(--bz-color-default-bg);
    color: var(--bz-color-default-text);
    margin:1%; 
}

    .__bz_alert.primary[b-bhw43rw099] {
        border: 1px solid var(--bz-color-primary-border);
        background-color: var(--bz-color-primary-bg);
        color: var(--bz-color-primary-text);
    }

    .__bz_alert.success[b-bhw43rw099] {
        border: 1px solid var(--bz-color-success-border);
        background-color: var(--bz-color-success-bg);
        color: var(--bz-color-success-text);
    }

    .__bz_alert.fail[b-bhw43rw099] {
        border: 1px solid var(--bz-color-fail-border);
        background-color: var(--bz-color-fail-bg);
        color: var(--bz-color-fail-text);
    }

    .__bz_alert.warning[b-bhw43rw099] {
        border: 1px solid var(--bz-color-warning-border);
        background-color: var(--bz-color-warning-bg);
        color: var(--bz-color-warning-text);
    }

    .__bz_alert.info[b-bhw43rw099] {
        border: 1px solid var(--bz-color-info-border);
        background-color: var(--bz-color-info-bg);
        color: var(--bz-color-info-text);
    }
