.__gm_Modal {
    position: fixed;
    background-color: rgb(0, 0, 0, .75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation-name: in-transition-modal-opacity;
    animation-duration: 0.333s;
}

.__gm_Modal-override-overlay {
    background-color: transparent !important;
}


@keyframes in-transition-modal-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.__gm_Modal .Top {
    top: 25px;
    animation-name: in-transition-modal-top;
    animation-duration: 0.666s;
}

@keyframes in-transition-modal-top {
    0% {
        top: -100%;
    }

    100% {
        top: 25px;
    }
}

.__gm_Modal .Bottom {
    bottom: 25px;
    animation-name: in-transition-modal-bottom;
    animation-duration: 0.666s;
}

@keyframes in-transition-modal-bottom {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 25px;
    }
}

.__gm_Modal .__gm_Modal-frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eaeaea;
    width: 95%;
    max-width: 768px;
    height: auto;

}



.__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content {
}

    .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-header {
        padding: 25px 35px 5px 35px;
    }

        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-header .__gm_Modal-frame__content-header__title {
        }

        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-header .__gm_Modal-frame__content-header__button-close {
            position: absolute;
            top: 0px;
            right: 8px;
            border: none;
            font-size: 24px;
            font-weight: 500;
            background-color: transparent;
            transition: all .333s ease;
        }

            .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-header .__gm_Modal-frame__content-header__button-close:hover {
                color: darkred;
            }

            .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-header .__gm_Modal-frame__content-header__button-close:focus {
                color: darkred;
                outline: none;
            }


    .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-body {
        padding: 5px 35px;
        font-size: 1rem;
    }

    .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer {
        padding: 15px 35px 25px 35px;
        text-align: right;
    }

        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer button {
            border: none;
            padding: 5px 10px;
            font-size: .8rem;
            text-transform: uppercase;
            color: white;
            transition: all .333s ease;
            border-radius: 3px;
            margin: 1% 0;
        }

        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-ok {
            background-color: #5b9732;
            min-width: 120px;
        }

            .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-ok:hover {
                background-color: darkgreen;
            }

        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-cancel,
        .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-delete {
            background-color: #c13131;
            min-width: 70px;
        }

            .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-cancel:hover,
            .__gm_Modal .__gm_Modal-frame .__gm_Modal-frame__content .__gm_Modal-frame__content-footer .__gm_Modal-frame__content-footer__button-delete:hover {
                background-color: darkred;
            }
