/* _content/BootzorComponents/Components/Accordion/BZ_Accordion.razor.rz.scp.css */
.__bz_accordion[b-dvf4947fjl] {
    
}

    .__bz_accordion .__bz_accordion-header[b-dvf4947fjl] {
        padding: 10px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;s
    }

    .__bz_accordion .__bz_accordion-header[b-dvf4947fjl] {
        width: 100%;
        text-decoration: none;
        color: initial;
        border-bottom: 1px solid #cacaca;
        cursor: pointer;
    }

        .__bz_accordion .__bz_accordion-header i.__bz_accordion-header__chevron[b-dvf4947fjl] {
            font-style: normal;
            transform: rotateZ(-90deg) scale(1.105);
            font-weight: bolder;
            display: inline-block;
            width: 16px;
            height: 30px;
            text-align: center;
            transition: all .5s ease .05s;
            transform-origin: center;
        }

            .__bz_accordion .__bz_accordion-header i.__bz_accordion-header__chevron.collapsed[b-dvf4947fjl] {
                transform: rotateZ(90deg) scale(1.105);
            }

        .__bz_accordion .__bz_accordion-header .__bz_accordion-header__title[b-dvf4947fjl] {
            width: calc(100% - 25px);
            display: inline-block;
            position: relative;
            top: 3px;
        }

    .__bz_accordion .__bz_accordion-content[b-dvf4947fjl] {
        transition: max-height .333s ease-in-out;
        overflow: hidden;
        max-height: 1000px;
    }

        .__bz_accordion .__bz_accordion-content .__bz_accordion-content__text[b-dvf4947fjl] {
            box-sizing: border-box;
            padding: 1%;
        }

        .__bz_accordion .__bz_accordion-content.collapsed[b-dvf4947fjl] {
            max-height: 0;
            padding: 0;
        }
/* _content/BootzorComponents/Components/Alert/BZ_Alert.razor.rz.scp.css */


.__bz_alert[b-bhw43rw099] {
    display: block;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--bz-color-default-border);
    background-color: var(--bz-color-default-bg);
    color: var(--bz-color-default-text);
    margin: 1%;
    max-width: 768px;
}

    .__bz_alert[b-bhw43rw099]  a {
        text-decoration: underline;
        font-weight: bold;
    }

        .__bz_alert[b-bhw43rw099]  a:visited {
            text-decoration: underline;
            color: var(--bz-color-primary-text);
        }

    .__bz_alert.primary[b-bhw43rw099] {
        border: 1px solid var(--bz-color-primary-border);
        background-color: var(--bz-color-primary-bg);
        color: var(--bz-color-primary-text);
    }

        .__bz_alert.primary[b-bhw43rw099]  a {
            color: var(--bz-color-primary-text);
        }

    .__bz_alert.success[b-bhw43rw099] {
        border: 1px solid var(--bz-color-success-border);
        background-color: var(--bz-color-success-bg);
        color: var(--bz-color-success-text);
    }

        .__bz_alert.success[b-bhw43rw099]  a {
            color: var(--bz-color-success-text);
        }

    .__bz_alert.fail[b-bhw43rw099] {
        border: 1px solid var(--bz-color-fail-border);
        background-color: var(--bz-color-fail-bg);
        color: var(--bz-color-fail-text);
    }

        .__bz_alert.fail[b-bhw43rw099]  a {
            color: var(--bz-color-fail-text);
        }

    .__bz_alert.warning[b-bhw43rw099] {
        border: 1px solid var(--bz-color-warning-border);
        background-color: var(--bz-color-warning-bg);
        color: var(--bz-color-warning-text);
    }

        .__bz_alert.warning[b-bhw43rw099]  a {
            color: var(--bz-color-warning-text);
        }

    .__bz_alert.info[b-bhw43rw099] {
        border: 1px solid var(--bz-color-info-border);
        background-color: var(--bz-color-info-bg);
        color: var(--bz-color-info-text);
    }

        .__bz_alert.info[b-bhw43rw099]  a {
            color: var(--bz-color-info-text);
        }

    .__bz_alert .__icon[b-bhw43rw099] {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 10px;
        opacity:.8;
    }
/* _content/BootzorComponents/Components/Card/BZ_Card.razor.rz.scp.css */
.__bz_card[b-nxbye4fymn] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    width: 34rem;
}



    .__bz_card .__bz_card-header[b-nxbye4fymn] {
        background-color: #f0f0f0;
        box-sizing: border-box;
        padding: 5px 10px;
    }

    .__bz_card .__bz_card-image[b-nxbye4fymn] {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .__bz_card .__bz_card-body[b-nxbye4fymn] {
        box-sizing: border-box;
        padding: 10px;
    }

        .__bz_card .__bz_card-body .__bz_card-body_content[b-nxbye4fymn] {
        }

            .__bz_card .__bz_card-body .__bz_card-body_content[b-nxbye4fymn]  a {
                text-decoration: underline;
                font-weight: 400;
                margin: 0 5px;
                display: inline-block;
            }



    .__bz_card.__bz_card-row[b-nxbye4fymn] {
        flex-direction: row;
        flex-basis: 25%;
        flex-grow: 0;
        flex-basis: 100% !important;
    }

        .__bz_card.__bz_card-row .__bz_card-image[b-nxbye4fymn] {
            width: 60%;
            height: auto;
        }

        .__bz_card.__bz_card-row .__bz_card-body[b-nxbye4fymn] {
            width: 40%;
            height: 15rem;
            overflow-y: scroll;
        }
