@using BootzorComponents.Components.Accordion
@using BootzorComponents.Components.Alert
@page "/playground"

<PageTitle>BlazorComponents - Zona de test</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/>
        <main>
            <h2>Playground</h2>
            <p>Esta zona está diseñana como playground para poder ir haciendo pruebas con los componentes antes de integrarlos en la librería</p>
        </main>
    </div>
</div>

