html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Special Elite', cursive;
}
// App Colors
$--cl-primary: #7E4984;
// Main headers styles
h1,h2,h3,h4,h5,h6{
    font-weight:400;
}
// App
.appBootzor {
    header {
        background-color: $--cl-primary;
        width: 100%;
        height: 40px;
        z-index: 9999;
        position: fixed;

        h1.logo {
            margin: 0;
            font-weight: 400;
            font-family: 'Special Elite', cursive;
            color: #fff;
            height: 40px;
            line-height: 45px;
            display: inline-block;
        }

        nav {
            display: inline-block;
            vertical-align: top;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;
                    height: 40px;
                    margin: 8px 15px;

                    a {
                        color: #fff;
                        opacity: .75;
                        transition: all .333s ease;
                        font-size: .75rem;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }



        @media (min-width: 920px) {
            position: relative;

            .sidebar-menu-mobile {
                display: none;
            }
        }
    }

    .appContent {
        font-size: 0;
        height: 100%;
        padding-top: 10px;

        .sidebar-menu-mobile {
            display: block;
            position: fixed;
            top: 7px;
            right: 10px;
            width: 24px;
            height: 24px;
            background-color: #f00;
            cursor: pointer;
            z-index: 9999;
        }

        sidebar {
            font-size: 1rem;
            width: 100%;
            display: inline-block;
            height: auto;
            overflow: hidden;
            background-color: #fff;
            box-sizing: border-box;
            padding: 0px;

            .sidebar-content {
                display: none;
                position: fixed;
                background-color: #fff;
                width: 100%;
                left: 0;
                top: 40px;
                height: calc(100% - 40px);
                overflow-y: scroll;
                z-index: 10;

                &.True {
                    display: block;
                }
            }
        }

        main {
            font-size: 1rem;
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            padding: 20px;

            span.parameter {
                color: #5591c1;
                small{
                    font-size: .7rem;
                }
            }

            span.parameter-type {
                font-size: .75rem;
            }
        }
        section{
            margin-bottom: 75px;
        }
        @media (min-width: 920px) {
            display: flex;
            justify-content: center;
            padding-top: 0px;

            sidebar {
                width: 320px;
                height: calc(100vh - 40px);
                padding: 0px;
                overflow-y: scroll;

                .sidebar-content {
                    position: relative;
                    display: block;
                    top: 0;
                    padding: 30px 10px 10px 10px;
                }
            }

            main {
                width: calc(100% - 320px);
                height: calc(100vh - 40px);
                overflow-y: scroll;
            }

            .sidebar-menu-mobile {
                display: none;
            }
        }
    }
}
// Utils
.responsive {
    width: 95%;
    max-width: 1920px;
    margin: 0 auto;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7E4984 #f4f4f4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #7E4984;
    border-radius: 20px;
    border: 3px solid #fff;
}

code {
    pre {
        background: #343434;
        padding-top: 15px;
        color: #e6e4c5;
        overflow:auto;
        i {
            color: #5591c1;
        }

        b {
            color: #4e8952;
        }
    }
}