.__bz_card[b-nxbye4fymn] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    width: 34rem;
}



    .__bz_card .__bz_card-header[b-nxbye4fymn] {
        background-color: #f0f0f0;
        box-sizing: border-box;
        padding: 5px 10px;
    }

    .__bz_card .__bz_card-image[b-nxbye4fymn] {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .__bz_card .__bz_card-body[b-nxbye4fymn] {
        box-sizing: border-box;
        padding: 10px;
    }

        .__bz_card .__bz_card-body .__bz_card-body_content[b-nxbye4fymn] {
        }

            .__bz_card .__bz_card-body .__bz_card-body_content[b-nxbye4fymn]  a {
                text-decoration: underline;
                font-weight: 400;
                margin: 0 5px;
                display: inline-block;
            }



    .__bz_card.__bz_card-row[b-nxbye4fymn] {
        flex-direction: row;
        flex-basis: 25%;
        flex-grow: 0;
        flex-basis: 100% !important;
    }

        .__bz_card.__bz_card-row .__bz_card-image[b-nxbye4fymn] {
            width: 60%;
            height: auto;
        }

        .__bz_card.__bz_card-row .__bz_card-body[b-nxbye4fymn] {
            width: 40%;
            height: 15rem;
            overflow-y: scroll;
        }
